.channel {
    text-align: right;
    margin: 50px auto;
    width: 800px;
}

.channel-button {
    border: 1px solid #000;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    font-size: 1.4em;
    position: fixed;
    top:90%;
    right: 10px;
    width: auto;
    background-clip: padding-box;
    opacity: 0.8;
    white-space: nowrap;
    padding: 4px 18px;
}

.channel button:hover {
    opacity: 1;
}

.channel .rss-list {
    display: block;    
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.channel-item {
    display: block;
    font-size: 1.3em;
    margin: 50px 0;
    width: 100%;

}

.channel-item-title {
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: right;
    width: 100%;
    font-size: 1.3em;
    text-decoration: none;
}

.channel-enclosure {
    display: block;
    font-size: 1.1em;
}

.channel-enclosure img {
    display: block;
    height: auto;
    width: 30%;
    float: right;
}

.channel-item-content {
    display: block;
    font-size: 1.0em;
    text-decoration: none;
    text-align: justify;
    width: auto;
}

.channel-item-meta {
    display: inline-block;
    padding: 4px 0;
    text-align: right;   
    font-size: 0.7em;
    bottom: 0;
}