.channel {
    text-align: right;
    margin: 50px auto;
    width: 800px;
}

.channel button {
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 1.4em;
    position: fixed;
    top:60px;
    opacity: 0.5;
}

.channel button:hover {
    opacity: 1;
}

.channel .rss-list {
    display: block;    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.channel .rss-item {
    display: inline-block;
    font-size: 1.1em;
    margin: 20px 0;
    width: 100%;
}

.channel .rss-item img {
    display: block;
    height: 200px;
    width: auto;
    margin: 8px;
    float: right;
}

.channel .rss-item .rss-item-title {
    padding: 0;
    margin: 0;
    display: block;
    text-align: right;
    width: 100%;
    font-size: 1.3em;
    text-decoration: none;
}

.channel .rss-item .rss-item-content {
    width: 100%;
    font-size: 1.0em;
    text-decoration: none;
    padding: 0;
    margin: 0;
    height:100px;
    text-align: right;
    vertical-align: top;
}
.channel .rss-item .rss-item-enclosure {
    display: block;
}

.channel .rss-item .rss-item-meta {
    display: block;
    padding: 4px 0;
    text-align: right;
    
    font-size: 0.7em;
}

.channel .rss-item a {
    padding: 4px 0;
    text-decoration: none;   
}

.channel .rss-item .rss-item-meta span {
    display: inline-block;
    text-align: left;
    padding: 0 4px;
    
}
