/* BreakingNewsTicker container */
.breaking-news-ticker {
  font: 1em 'Roboto', sans-serif; 
  width: 100%;
  overflow: hidden;
  color: #fff;
}

/* Ticker container for scrolling effect */
.ticker-container {
  display: flex;
  transition: transform 3s linear;
}


/* Individual news items */
.ticker-item {
  flex: 0 0 auto;
  text-align: right;
  white-space: nowrap;
  padding: 4px 15px;
  margin-right: 5px;
  background-color: #333;
  cursor: pointer;
  opacity: 0.8;
}

.ticker-item:hover {
  opacity: 1;
}