/* BreakingNewsTicker container */
.breaking-news-ticker {
    width: 100%;
    overflow: hidden;
  }
  
  /* Ticker container for scrolling effect */
  .ticker-container {
    display: flex;
    transition: transform 3s linear;
  }


  /* Individual news items */
  .ticker-item {
    flex: 0 0 auto;
    text-align: right;
    white-space: nowrap;
    padding: 4px 15px;
    margin-right: 5px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font: 1em sans-serif;
  }
  .ticker-item:hover {
    transition: transform 0s step-end;
  }